<%= simple_form_for @labeljob do |f| %>
  <fieldset>
    <div class="control-group">
      <div class="controls" >
        <%= f.input :exportation, :input_html => { :class => 'span10' } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </fieldset>
<% end  %>
