<% if !@labeljobs.blank? %>
  <%= link_to 'New Label Job', new_labeljob_path, :class => 'btn btn-large btn-primary pull-right' %>
  <%= render :partial => 'label_jobs' %>
<% else %>
  <div class="row hero-unit" align="center">
    <h1>CREATE LABEL JOB HERE ! ->
      <%= link_to 'New Label Job', new_labeljob_path, :class => 'btn btn-primary btn-large' %>
    </h1>
  </div>
<% end %>

<hr>
<% if !@finishedjobs.blank? %>
  <%= render :partial => 'finished_jobs' %>
<% end %>

