<h2>Approved Tasks</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="span3">name</th>
      <th class="span3">Status</th>
      <th class="span3">Initiated by</th>
      <th class="span3">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% @approved_tasks.each do |task| %>
      <tr>
        <% job = Labeljob.find(task.labeljob_id) %>
        <td><%= link_to job.name, labeltask_path(task) %></td>
        <td><%= status_label task.status %></td>
        <td><%= user_email(job.user_id) %></td>
        <td><%= job.deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>

