<% if not @labeltasks.blank? %>
  <%= render :partial => 'label_tasks' %>
<% else %>
  <div class="hero-unit">
    <h1>Hello Buddy</h1>
    <p>There is no label task assigned to you now.</p>
  </div>
<% end %>

<% if not @approved_tasks.blank? %>
  <%= render :partial => 'approved_tasks' %>
<% end %>
